<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Eventos</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
</head>

<body>
    <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <img src="{% static 'img/LogoVC1.svg' %}" alt="Logo">
        </div>

        <div class="side-content">
            <div class="profile">
                <div class="profile-img bg-img" style="background-image: url({% static 'img/foto_usuario.webp' %})">
                </div>
                <h4>{{user.username | upper}}</h4>
                <small>Usuario</small>
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                        <a href="{% url 'dashboard' %}">
                            <span class="fa fa-home"></span>
                            <small>Eventos</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'agenda' %}">
                            <span class="fa fa-calendar"></span>
                            <small>Agenda</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'hospedajes' %}">
                            <span class="fas fa-hotel"></span>
                            <small>Hospedaje</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'lugares' %}">
                            <span class="fas fa-image"></span>
                            <small>Lugares</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'rutas' %}">
                            <span class="fas fa-street-view"></span>
                            <small>Rutas</small>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'bardisco' %}">
                            <span class="fas fa-wine-bottle"></span>
                            <small>Bar Disco</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'gastronomia' %}">
                            <span class="fas fa-utensils"></span>
                            <small>Gastronomía</small>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'shopping' %}">
                            <span class="fas fa-cart-plus"></span>
                            <small>Shopping</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">

        <header>
            <div class="header-content">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>

                <div class="header-menu">
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>

                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>

                    <div class="user">
                        <div class="bg-img"></div>
                        <a href="{% url 'logout' %}" class="logout">
                            <span class="las la-power-off"></span>
                            <span>Logout</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>


        <main>

            <div class="page-header">
                <h1>Bienvenido</h1>
                <small>Dashboard / Eventos</small>
            </div>

            <div class="page-content">

                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2></h2>
                            <span class="fa fa-calendar"></span>

                        </div>
                        <div class="card-progress">
                            <small>Eventos</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2></h2>
                            <span class="fa fa-building"></span>

                        </div>
                        <div class="card-progress">
                            <small>Hospedajes</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2></h2>
                            <span class="fa fa-map"></span>
                        </div>
                        <div class="card-progress">
                            <small>Lugares</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2></h2>
                            <span class="fas fa-street-view"></span>

                        </div>
                        <div class="card-progress">
                            <small>Rutas</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">

                    <div class="record-header">
                        <div class="add">
                            <form action="/buscar_eventos" method="GET" class="form" enctype="multipart/form-data">
                                <input class="select" type="text" name="buscar" placeholder="Ingrese cantón"
                                    value="{{request.GET.buscar}}">
                                <input class="button" type="submit" value="Buscar" placeholder="Buscar">
                            </form>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th >EVENTO</th>
                                    <th>CANTÓN</th>
                                    <th>FECHA DE INICIO</th>
                                    <th>FECHA DE FINALIZACIÓN</th>
                                    <th>DESCRIPCIÓN</th>
                                    <th>DIRECCIÓN</th>
                                    <th>ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    {% if error_message %}
                                    <p>{{ error_message }}</p>
                                    {% else %}
                                    {% for evento in eventos %}
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img"
                                                style="background-image: url('http://localhost:8000/{{evento.fotoEvento}}')">
                                            </div>
                                            <div class="client-info">
                                                <h4>{{evento.nomEvento}}</h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{evento.canton_id}}


                                    </td>
                                    <td>
                                        {{evento.fecha_inicio|date:"d/m/Y H:i" }}
                                    </td>
                                    <td>
                                        {{evento.fecha_fin|date:"d/m/Y H:i"}}
                                    </td>
                                    <td>
                                        {{evento.infoEvento}}

                                    </td>
                                    <td>

                                        <li>
                                            <a href="{{evento.direccionEvento}}">
                                                Pulsa aquí<span class="fas fa-street-view"></span>
                                            </a>
                                        </li>

                                    </td>
                                    <td>
                                        <form action="/reservar_evento/" method="POST" class="add2">
                                            {% csrf_token %}
                                            <span class="paid">Activo</span>
                                            <input type='text' value='{{ user.id }}' id='user' name='user'
                                                style="display: none;" />
                                            <input type='text' value='{{ evento.id }}' id='evento' name='evento'
                                                style="display: none;" />
                                            <button type="submit">Agendar</button>
                                        </form>
                                    </td>
                                </tr>

                            </tbody>
                            {% endfor %}
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>

        </main>
    </div>

    <script type="text/javascript">
        var message = "{{error|safe}}";
        if (message) alertify.error(message);
    </script>
</body>

</html>