@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --main-color: #3D238E;
    --text-grey: #B0B0B0;
    --second-color: #F0AB08;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

#map {
    height: 550px; /* ajusta la altura según tus preferencias */
    width: 100%; /* utiliza el ancho completo del contenedor */
    margin-bottom: 20px; /* ajusta el margen inferior según tus preferencias */
}
.category-buttons{
    background-color: #3D238E;
 }
.category-buttons button {
    background: var(--main-color);
    color: #fff;
    height: 37px;
    border-radius: 4px;
    padding: 0rem 1rem;
    border: none;
    font-weight: 600;
}
.category-buttons button:hover {
    background: #6539e8;
}